<div class="p-4">
  <div class="p-4">
    <div class="flex justify-between items-center">
      <h1 class="text-2xl font-light">
        Welcome back,
        <br />
      </h1>
      <div class="role-badge">
        <p class="text-lg primary-text italic">
          {{ loggedInUser?.role | titlecase }}
        </p>
      </div>
    </div>

    <h2 class="text-4xl mt-2 primary-text font-bold" *ngIf="firstName">
      {{ firstName }} {{ lastName }}
    </h2>
    <h2 class="text-4xl mt-2 primary-text font-bold" *ngIf="!firstName">Guest</h2>
  </div>
  <div class="p-2">
    <mat-divider></mat-divider>
  </div>
  <div class="p-4">
    <app-employee-management></app-employee-management>
  </div>
</div>
